In [1]:
import sys
sys.path.append("..")

from src.bls_api import fetch_bls_series

In [2]:
df_raw = fetch_bls_series(
    series_id="LNS14000000",
    start_year="2015",
    end_year="2024"
)

df_raw.head()

   year period periodName value footnotes
0  2024    M12   December   4.1      [{}]
1  2024    M11   November   4.2      [{}]
2  2024    M10    October   4.1      [{}]
3  2024    M09  September   4.1      [{}]
4  2024    M08     August   4.2      [{}]

In [3]:
import pandas as pd

df = df_raw.copy()
df["value"] = df["value"].astype(float)
df["month"] = df["period"].str.replace("M", "").astype(int)

df["date"] = pd.to_datetime(
    df["year"] + "-" + df["month"].astype(str) + "-01"
)

df = df.sort_values("date")
df = df[["date", "value"]]
df.rename(columns={"value": "unemployment_rate"}, inplace=True)

df.tail()

        date  unemployment_rate
4 2024-08-01                4.2
3 2024-09-01                4.1
2 2024-10-01                4.1
1 2024-11-01                4.2
0 2024-12-01                4.1

In [4]:
df.to_csv("../data/processed/unemployment_rate.csv", index=False)