In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/unemployment_rate.csv")
df["date"] = pd.to_datetime(df["date"])
df = df.sort_values("date")

df.head()

        date  unemployment_rate
0 2015-01-01                5.7
1 2015-02-01                5.5
2 2015-03-01                5.4
3 2015-04-01                5.4
4 2015-05-01                5.6

In [2]:
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month

In [3]:
df["lag_1"] = df["unemployment_rate"].shift(1)
df["lag_3"] = df["unemployment_rate"].shift(3)
df["lag_6"] = df["unemployment_rate"].shift(6)
df["lag_12"] = df["unemployment_rate"].shift(12)

df.head(15)

         date  unemployment_rate  year  month  lag_1  lag_3  lag_6  lag_12
0  2015-01-01                5.7  2015      1    NaN    NaN    NaN     NaN
1  2015-02-01                5.5  2015      2    5.7    NaN    NaN     NaN
2  2015-03-01                5.4  2015      3    5.5    NaN    NaN     NaN
3  2015-04-01                5.4  2015      4    5.4    5.7    NaN     NaN
4  2015-05-01                5.6  2015      5    5.4    5.5    NaN     NaN
5  2015-06-01                5.3  2015      6    5.6    5.4    NaN     NaN
6  2015-07-01                5.2  2015      7    5.3    5.4    5.7     NaN
7  2015-08-01                5.1  2015      8    5.2    5.6    5.5     NaN
8  2015-09-01                5.0  2015      9    5.1    5.3    5.4     NaN
9  2015-10-01                5.0  2015     10    5.0    5.2    5.4     NaN
10 2015-11-01                5.1  2015     11    5.0    5.1    5.6     NaN
11 2015-12-01                5.0  2015     12    5.1    5.0    5.3     NaN
12 2016-01-01                4.8  2016      1    5.0    5.0    5.2     5.7
13 2016-02-01                4.9  2016      2    4.8    5.1    5.1     5.5
14 2016-03-01                5.0  2016      3    4.9    5.0    5.0     5.4

In [4]:
df["rolling_3"] = df["unemployment_rate"].rolling(3).mean()
df["rolling_6"] = df["unemployment_rate"].rolling(6).mean()
df["rolling_12"] = df["unemployment_rate"].rolling(12).mean()

In [5]:
df_fe = df.dropna().reset_index(drop=True)
df_fe.head()

,date,unemployment_rate,year,month,lag_1,lag_3,lag_6,lag_12,rolling_3,rolling_6,rolling_12
0,2016-01-01,4.8,2016,1,5.0,5.0,5.2,5.7,4.966667,5.000000,5.200000
1,2016-02-01,4.9,2016,2,4.8,5.1,5.1,5.5,4.900000,4.966667,5.150000
2,2016-03-01,5.0,2016,3,4.9,5.0,5.0,5.4,4.900000,4.966667,5.116667
3,2016-04-01,5.1,2016,4,5.0,4.8,5.0,5.4,5.000000,4.983333,5.091667
4,2016-05-01,4.8,2016,5,5.1,4.9,5.1,5.6,4.966667,4.933333,5.025000

In [6]:
features = [
    "year", "month",
    "lag_1", "lag_3", "lag_6", "lag_12",
    "rolling_3", "rolling_6", "rolling_12"
]

X = df_fe[features]
y = df_fe["unemployment_rate"]

X.head(), y.head()

(   year  month  lag_1  lag_3  lag_6  lag_12  rolling_3  rolling_6  rolling_12
 0  2016      1    5.0    5.0    5.2     5.7   4.966667   5.000000    5.200000
 1  2016      2    4.8    5.1    5.1     5.5   4.900000   4.966667    5.150000
 2  2016      3    4.9    5.0    5.0     5.4   4.900000   4.966667    5.116667
 3  2016      4    5.0    4.8    5.0     5.4   5.000000   4.983333    5.091667
 4  2016      5    5.1    4.9    5.1     5.6   4.966667   4.933333    5.025000,
 0    4.8
 1    4.9
 2    5.0
 3    5.1
 4    4.8
 Name: unemployment_rate, dtype: float64)

In [7]:
df_fe.to_csv("../data/processed/unemployment_features.csv", index=False)